<h1>Public::Users#show</h1>
<p>ユーザのマイページに飛びました</p>


<h2>ネガティブ週報</h2>
<%= link_to "一覧",public_negative_reports_path %>
<%= link_to "新規作成",new_public_negative_report_path %>

<h2>ネガティブ改善</h2>
<%= link_to "一覧",public_improvement_suggestions_index_path %>

<h2>私感情</h2>
<%= link_to "一覧",public_emotion_logs_index_path %>

<h2>ネガティブ分析</h2>
<%= link_to "一覧",public_analytics_results_index_path %>
